body{
    background-image: url(https://images.unsplash.com/photo-1485278537138-4e8911a13c02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OTJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
    text-align: center;
}
ol{
   font-style: italic;
   text-emphasis-color:#502c4d ;
   background-color: #808080;
   background-clip: border-box;
   border: 3px dotted beige;
   width: fit-content;
}
.strong{
    font-weight: bolder
}
img{
    background-color: beige;
    width: 200px;
    height: 200px;
}
h1{
  background-color: #2c3e50;
  width: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 20px;
  border-style: double;
  border-color: beige;
  background-clip: content-box; 
}
header{
    font-weight: bold;
    display: block;

}
div{
    flex-direction: column;
    font-family: fantasy;
    font-style: initial;
}
#logo{
    height: 100px;
    width: 100px;
}
#songs{
    text-align: right;
}
#names{
    text-align: left;
    background-color: rgb(178, 184, 190);
    width: fit-content;
   
}



